*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header
{
	width:100%;
	padding: 15px 0px;
	position:absolute;
}
.container
{
	width: 1140px;
	margin: 0px auto;

}
a
{
	text-decoration: none;	
}
.nav
{
	display: flex;
	justify-content: space-between;

}
.menu ul li
{
	list-style: none;
	display: inline-block;

}
.menu ul
{
	display: inline-block;
}
.menu-btn
{
	padding: 16px 32px;
    border: none;
    border: 2px solid white;
    background: transparent;
    font-weight: 600;
    border-radius: 35px;
    font-size: 15px;
    cursor: pointer;
    color: white;
}
.menu ul li a
{
	font-family: 'Roboto', sans-serif;
	color: white;
	font-weight: bold;
	margin:0 12px;
}
.logo h3
{
	color: white;
	font-weight: 700;
	font-size: 32px;
	font-family: 'Roboto', sans-serif;
	margin-top: 8px;
	text-transform: uppercase;
}
.banner
{
	width:100%;
	background-image: url('../Images/bg.jpg');
	
	background-position: center;
	background-size: bottom;
	height: 100vh;
	background-repeat: no-repeat;
	background-color:rgba(0,0,0,0.3);
	background-blend-mode: soft-light;
}

.banner-content 
{
	text-align: center;
	width: 100%;
	height: 90vh;
	display:flex;
	justify-content:center;
	align-items: center;

}
.line
{
	height: 2px;
	width: 80px;
	background: #fb2056;
	margin: 10px auto;
}
.banner-content h1
{
	font-family: 'Playfair Display', serif;
	color: white;
	font-size: 32px;
	font-style: italic;
	margin: auto;

}
.banner-content h3
{
	font-size: 66px;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	color: white;
	letter-spacing: 1px;
	margin-bottom: 15px;
}
.banner-content button
{
	font-family: 'Roboto', sans-serif;
	padding: 16px 25px;
	background:transparent;
	border:none;
	color: white;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	background-color: #fb2056;
	letter-spacing: 4px;
	border-radius:35px;
	 cursor: pointer;
}
.Testimonial
{
	width: 100%;
	background:#F4F5F9;
	padding: 50px 0px;
}
.Testimonial .test
{
	text-align: center;

}
.Testimonial .test p
{
	font-family: 'Playfair Display', serif;
	font-size:22px;
	font-style: italic;
	color:#000;
	margin-bottom: 16px;
}
.Testimonial .test h6
{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 2px;
	color: grey;
}
.events
{
	width:100%;
	padding: 100px 0px;
	background:white;
}
.events-content h1
{
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	margin-top: 100px;
	letter-spacing: 2px;
	color: black;
	margin-bottom: 16px;
}
.events-gallery
{
	display:grid;
	grid-template-columns: auto auto;
	margin-top: 60px;


}
.event-post
{
	text-align: center;
}
.event-post h4
{
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color: black;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	margin:40px 0px 20px 0px;
	color:#353535;
}
.event-post p
{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: black;
	
	text-align: center;
	color:#9C9D9F;
	margin-bottom: 20px;
}
.event-post a button
{
	font-family: 'Roboto', sans-serif;
	font-size:12px;
	text-transform: uppercase;
	color: #fb2056;
	font-weight: bold;
	letter-spacing: 2px;
	border:none;
	background-color: transparent;
}
.main-box
{
	position: relative;
	z-index: 99999;
}
.left-box
{
	position: absolute;
    height: 100%;
    width: 84%;
    top: 10px;
    left: 7px;
    background: #EDEDED;
    border-radius: 6px;
    z-index: -1;
}
.right-box
{
	position: absolute;
    height: 100%;
    width: 84%;
    top: 10px;
  left: 7px;
    background: #EDEDED;
    border-radius: 6px;
    z-index: -1;
}
.main
{
	width:100%;
	background-image: url('../Images/mountain.jpg');
	background-position: center;
	background-size:cover;
	height: 70vh;
	background-repeat: no-repeat;
	
	background-color: rgba(0,0,0,0.6);
	background-blend-mode: soft-light;
}
.main-box
{
	display: flex;
	justify-content: space-between;
	flex-basis: 50%;
}
.com h2
{
	font-size: 44px;
	color:white;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 2px;
	font-weight: bold;
	margin-top: 100px;
}
.com p
{
	color: white;
	font-size: 16px;
	color: white;
}
.lining
{
	width:50px;
	height:2px;
	background:#fb2056;
	margin-bottom: 15px;
	margin-top: 10px;
}
.com a button
{
	border:none;
	padding: 20px 5px;
	background:transparent;
	letter-spacing: 3px;
	text-transform: uppercase;
	color:white;
	font-weight: bold;
}
.griding
{
	width: 100%;
	padding-top: 50px;
	background:white;
	margin-bottom: 80px;
	
}
.grid-class
{
	width:100%;
	
	display: flex;
	justify-content: center;
	margin-left: 250px;
}

.out h2
{
	font-size: 24px;
	color:black;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 2px;
	font-weight: bold;
	
}
.btn
{
	font-family: 'Roboto', sans-serif;
	padding: 10px 20px;
	background:transparent;
	border:none;
	color: white;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	background-color: #fb2056;
	letter-spacing: 4px;
	border-radius:35px;
	 cursor: pointer;
	 margin-top:15px;
}
.out p
{
	font-size: 12px;
	color: grey;
	line-height: 20px;
	font-family: 'Roboto', sans-serif;
}


.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}


.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  margin-left: 10px;
  vertical-align: middle;
  width: 100%;
}
.last
{
	width:100%;
	background:#191919;
	
}
.p1
{
	padding-bottom: 20px;
}
.last-page p
{
	color: white;
	text-align: center;
	padding-top: 30px;
}
	